#Ignore package-lock.json file
package-lock.json

# Ignore the node modules folder
node_modules

# Ignore everything inside the build folder
build/*

# Ignore everything inside the coverage folder
coverage/*

# Ignore the log files 
*.log